body
{
    background-color: #FFE6B7;
    margin: 0px;
    padding: 0px;

    height: 100vh;
    width: 100vw;

    font-family: Montserrat;
}

@font-face
{
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}


.main-wrapper
{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}

.dashboard-left-panel
{
    background-color: #ffa149;
    box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.5);

    height: 100%;
    width: 18%;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    font-size: 1.3vw;
    
}

.dashboard-buttons
{
    align-items: left;
    margin-left: 15%;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}


.dashboard-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.dashboard-button-icon
{
    padding: 7%;
    margin-right: 4%;
    background-size: contain;
    background-repeat: no-repeat;
}

.dashboard-mask
{
    position: absolute;
    background-image: url('./assets/dashboard_mask.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 7%;
    z-index: 0;
}

#dashboard_bttn .dashboard-button-icon
{
    background-image: url("./assets/icons/ds_i_dashboard.svg");
}

#profile_bttn .dashboard-button-icon
{
    background-image: url("./assets/icons/ds_i_user.svg");
}

#groups_bttn .dashboard-button-icon
{
    background-image: url("./assets/icons/ds_i_group.svg");
}

#charts_bttn .dashboard-button-icon
{
    background-image: url("./assets/icons/ds_i_chart.svg");
}

.dashboard-right-panel
{
    display: flex;
    flex-direction: column;
    height: 97%;
    margin-left: 2%;;
    margin-right: 2%;
    width: 100%;
    justify-self: center;
    align-self: center;
}

.dashboard-navbar
{
    display: flex;
    flex-direction: row;
    border-radius: 1vw;
    height: calc(10% - 2%);
    width: calc(97% - 2%);
    margin: 1%;
    align-self: center;

}

.dashboard-control-panel
{
    height: calc(90% - 2%);
    width: calc(99% - 2%);
    margin: 1%;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.dashboard-children
{
    display: flex;
    flex-direction: column;
    height: calc(99% - 2%);
    width: calc(20% - 2%);
    margin: 1%;
    box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.3);
    border-radius: 1vw;
    overflow: auto;
}

.dashboard-children > p
{
    align-self: center;
    font-size: 2vw;
}

.dashboard-info
{
    display: grid;
    grid-template-rows: repeat(40, 2.5%);
    grid-template-columns: repeat(40, 2.5%);

    box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.3);
    border-radius: 1vw;
    height: calc(99% - 2%);
    width: calc(80% - 2%);
    margin: 1%;
}

.button-default {
    display: flex;
    flex-direction: row;
    color: white; 
    background-color: #528ac5; 
    font-size: 1.2vw;
    border: none;
    box-shadow: 0px 0 2vw 0px rgba(0,0,0,0.5);
    border-radius: .3vw;
    padding: 10px 20px; 
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-default:hover {
    background-color: #336ca8; 
}

.button-default:active {
    transform: scale(0.95); 
}

.button-default img {
    height: 1.2vw; 
    vertical-align: middle;
    margin-right: 5%; 
    filter: invert();
}

.delete-child-bttn {
    grid-column: 37 / 40;
    grid-row: 2 / 4;
    background-color: red;
}

.feeding-child-bttn
{
    grid-column: 2 / 7;
    grid-row: 2 / 4;

}

.sleeping-child-bttn
{
    grid-column: 8 / 13;
    grid-row: 2 / 4;
}

.images-child-bttn
{
    grid-column: 14 / 19;
    grid-row: 2 / 4;
}

.evolution-child-bttn
{
    grid-column: 20 / 25;
    grid-row: 2 / 4;
}

.medical-history-child-bttn
{
    grid-column: 26 / 31;
    grid-row: 2 / 4;
}


.dashboard-search-bar
{
    box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.3);
    border-radius: 1vw;

    display:flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 60%;

}

.dashboard-search-bar input {
    box-shadow: 0px 1vw 1vw 0px rgba(0,0,0,0.3);
    margin-left: 5%;
    padding: 1%;
    border: none; 
    border-radius: 5px;
    background-color: #f1f1f1; 
    transition: all 0.3s ease; 
}

.dashboard-search-bar input:focus {
    outline: none;
    box-shadow: 0px 1vw 1vw 0px rgba(0,0,0,0.2); 
}

.dashboard-search-bar button {
    margin-left: 1%;
    padding: 10px;
    border: none; 
    border-radius: 5px;
    background-color: #007BFF; 
    color: white; 
    box-shadow: 0px 1vw 1vw 0px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.dashboard-search-bar button:hover {
    background-color: #0056b3;
}

.dashboard-search-bar button:active {
    transform: scale(0.95); 
}

.children-container
{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: 10%;
    box-shadow: 0px 0 2vw 0px rgba(0,0,0,0.5);
    border-radius: 1vw;
    flex-shrink: 0;
    box-shadow: 0 0 10px black;
}

.children-container:hover
{
    cursor: pointer;
}

.photo-container {
    background-image: url(../placeholders/child1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1vw;
    margin: 2%;
    aspect-ratio: 1/1;
}

.info-container
{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container > p
{
    color:black;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1vw;
    margin-left: 5%;
}

.dashboard-profile-container
{
    height: 100%;
    width: 40%;
    box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.3);
    border-radius: 1vw;
    margin-left: 5%;
}

.children-add-button {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    border-radius: 1vw;
    background-color: rgb(49, 51, 56);
}


.dashboard-content
{
    background-color: lightyellow;
    box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.3);
    border-radius: .5vw;
    grid-row: 5 / 40;
    grid-column: 2 / 40;
}
