.media-container {
  height: 100%;
  width: 100%;
  padding: 16px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 16px;
  height: 100%;
  overflow-y: auto;
}

figure {
  border: 1px solid #777;
  padding: 8px;
  background-color: #fff;
  margin: 8px 0;
}

figure img,
figure video,
figure audio {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

figure figcaption {
  text-align: center;
  padding: 4px 4px;
}

.gallery figure {
  background-color: transparent;
  border: none;
}

.add-photo {
  padding: 8px;
  margin: 8px 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-photo img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
    width: 100%;
  }

  figure img,
  figure video,
  figure audio {
    height: auto;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

#aud01 {
  width: 30%;
  height: 50%;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 60vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.caption-button{
  margin: auto;
  display: block;
}

li{
  list-style-type:none;
}

.delete-relation-button{
  background-color:red;
  color:white;
  border:none;
  margin-left:1rem;
  padding:0 8px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#delete {
  display: block;
  width: 100px;
  margin: 20px auto;
  padding: 10px;
  background-color: red;
  color: white;
  text-align: center;
  cursor: pointer;
}

.buttons-media
{
  display: flex;
  justify-content: center;
  align-items: center;
}
#share
{
  display: block;
  width: 100px;
  margin: 20px auto;
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  cursor: pointer;
}

.evolutionContainer {
  height: 100%;
  width: 100%;
  padding: 16px;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: auto;
  height: 95%;
  width: 100%;
}

.timeline-content {
  position: relative;
}

.timeline-content::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.line {
  position: absolute;
  background-color: white;
  width: 6px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}


.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.content img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  border-radius: 8px;
  object-fit: contain;
}

@media screen and (max-width: 600px) {

  .timeline-content::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

.dashboard-groups {
  background-color: var(--spanish-white);
  border: 1px solid #A3966A;
  border-radius: 0.5vw;
  box-shadow: 0px 0px 1vw 0px rgba(0, 0, 0, 0.15);
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

button[type="submit"] {
  width: auto;
  margin: 0 auto;
  display: block;
}